<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [4]:
duplicate = df[df.duplicated()]
duplicate.shape[0]
#duplicate_number = len(duplicate.index)
#duplicate_number

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [5]:
result_df = df.drop_duplicates()
result_df.shape[0]

11398

Verify if duplicates were actually dropped.

In [20]:
print(f'Loaded dataset: {df.shape[0]} rows, dataset after removing the duplicate rows: {result_df.shape[0]} rows. \n')

check_duplicates=result_df[result_df.duplicated()]

print(f'There are {check_duplicates.shape[0]} duplicated rows in "result_df" dataframe.')

Loaded dataset: 11552 rows, dataset after removing the duplicate rows: 11398 rows.

There are 0 duplicated rows in "result_df" dataframe.

## Finding Missing values

Find the missing values for all columns.

In [31]:
missing_data=result_df.isnull()

for column in missing_data.columns.values.tolist():
    print (column)
    print(missing_data[column].sum())
    print('')
    
'''
#False means not null values, True is null values
for column in missing_data.columns.values.tolist():
    print (column)
    print(missing_data[column].value_counts())
    print('')
'''

Respondent
0

MainBranch
0

Hobbyist
0

OpenSourcer
0

OpenSource
81

Employment
0

Country
0

Student
51

EdLevel
112

UndergradMajor
737

EduOther
164

OrgSize
96

DevType
65

YearsCode
9

Age1stCode
13

YearsCodePro
16

CareerSat
0

JobSat
1

MgrIdiot
493

MgrMoney
497

MgrWant
493

JobSeek
0

LastHireDate
0

LastInt
413

FizzBuzz
37

JobFactors
3

ResumeUpdate
39

CurrencySymbol
0

CurrencyDesc
0

CompTotal
809

CompFreq
206

ConvertedComp
816

WorkWeekHrs
122

WorkPlan
121

WorkChallenge
164

WorkRemote
8

WorkLoc
32

ImpSyn
5

CodeRev
1

CodeRevHrs
2426

UnitTests
29

PurchaseHow
196

PurchaseWhat
38

LanguageWorkedWith
11

LanguageDesireNextYear
134

DatabaseWorkedWith
453

DatabaseDesireNextYear
1042

PlatformWorkedWith
411

PlatformDesireNextYear
544

WebFrameWorkedWith
1393

WebFrameDesireNextYear
1617

MiscTechWorkedWith
2182

MiscTechDesireNextYear
1455

DevEnviron
29

OpSys
34

Containers
82

BlockchainOrg
2322

BlockchainIs
2610

BetterLife
98

ITperson
35

OffOn
38

SocialMedia
293

Extraversion
20

ScreenName
507

SOVisit1st
325

SOVisitFreq
5

SOVisitTo
1

SOFindAnswer
3

SOTimeSaved
50

SOHowMuchTime
1917

SOAccount
1

SOPartFreq
1128

SOJobs
6

EntTeams
5

SOComm
0

WelcomeChange
85

SONewContent
1965

Age
287

Gender
73

Trans
123

Sexuality
542

Ethnicity
675

Dependents
140

SurveyLength
19

SurveyEase
14

"\n#False means not null values, True is null values\nfor column in missing_data.columns.values.tolist():\n    print (column)\n    print(missing_data[column].value_counts())\n    print('')\n"

Find out how many rows are missing in the column 'WorkLoc'

In [27]:
missing_values_WorkLoc=result_df['WorkLoc'].isnull().sum()
print(f"missing_values: {missing_values_WorkLoc}")

missing_values: 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [32]:
value_counts=result_df['WorkLoc'].value_counts(dropna=False)
value_counts

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
NaN                                                 32
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [36]:
most_frequent_workloc=result_df['WorkLoc'].value_counts().idxmax()
print(f'The most frequent value in the WorkLoc column is "{most_frequent_workloc}".')
#most_frequent_workloc=result_df['UndergradMajor'].value_counts().idxmin()

The most frequent value in the WorkLoc column is "Office".

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [37]:
import numpy as np
pd.options.mode.chained_assignment = None

result_df['WorkLoc']=result_df['WorkLoc'].replace(np.nan, most_frequent_workloc)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [38]:
result_df['WorkLoc'].value_counts(dropna=False)

Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [25]:
result_df['CompFreq'].unique()
#result_df[['CompFreq']].value_counts()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [27]:
result_df['NormalizedAnnualCompensation'] = np.where(result_df['CompFreq'] == 'Yearly', result_df['CompTotal'], 
                                                     (np.where(result_df['CompFreq'] == 'Monthly', result_df['CompTotal']*12, 
                                                      result_df['CompTotal']*52)))
result_df[['CompFreq','CompTotal','NormalizedAnnualCompensation']]
#result_df[['NormalizedAnnualCompensation']].median()

      CompFreq  CompTotal  NormalizedAnnualCompensation
0       Yearly    61000.0                       61000.0
1       Yearly   138000.0                      138000.0
2       Yearly    90000.0                       90000.0
3      Monthly    29000.0                      348000.0
4       Yearly    90000.0                       90000.0
...        ...        ...                           ...
11547   Yearly   130000.0                      130000.0
11548   Yearly    74400.0                       74400.0
11549   Yearly   105000.0                      105000.0
11550   Yearly    80000.0                       80000.0
11551      NaN        NaN                           NaN

[11398 rows x 3 columns]

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).